# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider / IDE
.vs/
.idea/
.vscode/
*.VC.db
*.VC.opendb
*.sln.DotSettings.user

# Build artifacts / logs
*.log
*.tmp
*.pdb
*.obj
*.pch
*.ipch
*.db
*.opendb

# Unreal user-specific
*.suo
*.user
*.userprefs
*.sdf
*.opensdf

# OS
Thumbs.db
Desktop.ini

